<a href="https://colab.research.google.com/github/advpro4/144-student-activity/blob/main/148_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# installing kaggle module
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.0.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [ ]:
# uploading kaggle.json
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"gautamahuja","key":"35eee5bdc5a1cb2296b7c622603a37a8"}'}

In [ ]:
# making hidden directory named 'kaggle'
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
# downloading dataset
!kaggle datasets download -d tmdb/tmdb-movie-metadata

Downloading tmdb-movie-metadata.zip to /content
  0% 0.00/8.89M [00:00<?, ?B/s]
100% 8.89M/8.89M [00:00<00:00, 80.3MB/s]

In [ ]:
# listing files in current working directory
!ls

kaggle.json  sample_data  tmdb-movie-metadata.zip

In [ ]:
# unzipping
!unzip tmdb-movie-metadata.zip

Archive:  tmdb-movie-metadata.zip
  inflating: tmdb_5000_credits.csv
  inflating: tmdb_5000_movies.csv

In [ ]:
# creating dataframes
import pandas as pd
credits_df = pd.read_csv('tmdb_5000_credits.csv')
movies_df = pd.read_csv('tmdb_5000_movies.csv')

In [ ]:
# printing first 5 rows
credits_df.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

In [ ]:
# printing first 5 rows
movies_df.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [ ]:
# renaming column
credits_df.rename(columns = {'movie_id' : 'id'} , inplace = True)
credits_df.head()

       id  ...                                               crew
0   19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1     285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3   49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4   49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

In [ ]:
# merging dataset
result_df = pd.merge(movies_df , credits_df , on = 'id')

In [ ]:
# printing shape
result_df.shape

(4803, 23)

In [ ]:
#  printing info about dataset
result_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  title_y               4803 non-null   object
 21  cast                  4803 non-null   object
 22  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(16)
memory usage: 900.6+ KB

In [ ]:
# dropping columns : cleaning dataset
result_df.drop(['homepage', 'title_x', 'title_y', 'production_companies', 'keywords'] , axis = 1 , inplace = True)

In [ ]:
# printing info again to verify
result_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   id                    4803 non-null   int64
 3   original_language     4803 non-null   object
 4   original_title        4803 non-null   object
 5   overview              4800 non-null   object
 6   popularity            4803 non-null   float64
 7   production_countries  4803 non-null   object
 8   release_date          4802 non-null   object
 9   revenue               4803 non-null   int64
 10  runtime               4801 non-null   float64
 11  spoken_languages      4803 non-null   object
 12  status                4803 non-null   object
 13  tagline               3959 non-null   object
 14  vote_average          4803 non-null   float64
 15  vote_count            4803 non-null   int64
 16  cast                  4803 non-null   object
 17  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(11)
memory usage: 712.9+ KB

In [ ]:
# Calculating weighted average
R = result_df['vote_average']

In [ ]:
v = result_df['vote_count']

In [ ]:
C = result_df['vote_average'].mean()
print(C)

6.092171559442011

In [ ]:
m = result_df['vote_count'].quantile(0.9)
print(m)

1838.4000000000015

In [ ]:
result_df['weighted_rating'] = (R*v + C*m) / (v + m)

In [ ]:
result_df[['original_title' , 'weighted_rating']].head()

                             original_title  weighted_rating
0                                    Avatar         7.050669
1  Pirates of the Caribbean: At World's End         6.665696
2                                   Spectre         6.239396
3                     The Dark Knight Rises         7.346721
4                               John Carter         6.096368

In [ ]:
result_df.sort_values('weighted_rating' , ascending = False , inplace = True)

In [ ]:
result_df[['original_title' , 'vote_average' , 'vote_count' , 'weighted_rating' , 'popularity']].head(10)

                                     original_title  ...  popularity
1881                       The Shawshank Redemption  ...  136.747729
662                                      Fight Club  ...  146.757391
65                                  The Dark Knight  ...  187.322927
3232                                   Pulp Fiction  ...  121.463076
96                                        Inception  ...  167.583710
3337                                  The Godfather  ...  143.659698
95                                     Interstellar  ...  724.247784
809                                    Forrest Gump  ...  138.133331
329   The Lord of the Rings: The Return of the King  ...  123.630332
1990                        The Empire Strikes Back  ...   78.517830

[10 rows x 5 columns]

In [ ]:
import plotly.express as px
bar_plot = px.bar(result_df.head(10).sort_values('weighted_rating') , x = 'weighted_rating' , y = 'original_title' , orientation = 'h')
bar_plot.show()