<a href="https://colab.research.google.com/github/advpro4/144-student-activity/blob/main/PRO_C148_Student_Activity_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# installing kaggle module
!pip install kaggle

In [ ]:
# uploading kaggle.json
from google.colab import files
files.upload()

In [ ]:
# making hidden directory named 'kaggle'
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
# downloading dataset
!kaggle datasets download -d tmdb/tmdb-movie-metadata

In [ ]:
# listing all the files in working directory
!ls

In [ ]:
# unzipping files
!unzip tmdb-movie-metadata.zip

In [ ]:
# creating dataframe
import pandas as pd
credits_df = pd.read_csv('tmdb_5000_credits.csv')
movies_df = pd.read_csv('tmdb_5000_movies.csv')

In [ ]:
# printing first 5 rows
credits_df.head()

In [ ]:
# printing first 5 rows
movies_df.head()

In [ ]:
# renaming a column
credits_df.rename(columns = {'movie_id' : 'id'} , inplace = True)
credits_df.head()

In [ ]:
# merging datasets
result_df = pd.merge(movies_df , credits_df , on = 'id')

In [ ]:
# printing shape of dataset
result_df.shape

In [ ]:
# print the dataframe info
result_df.info()

In [ ]:
# clean the dataset : remove the columns
result_df.drop(['homepage', 'title_x', 'title_y', 'production_companies', 'keywords'] , axis = 1 , inplace = True)

In [ ]:
# print the dataframe info again
result_df.info()

In [ ]:
# Calculating weighted average : the value of R

In [ ]:
# Calculating weighted average : the value of v

In [ ]:
# Calculating weighted average : the value of C

In [ ]:
# Calculating weighted average : the value of m

In [ ]:
# adding weighted_rating column

In [ ]:
# print the first 5 rows

In [ ]:
# sort the values : descending order

In [ ]:
# print the first 10 rows

In [ ]:
# plot it